body {
    margin: 0;
}
body * {
    font-family: arial;
}
.search {
    position: absolute;
    width: 500px;
    background-color: #a3a3a3;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    overflow: hidden;
    transition: 500ms;
}
.cmd_line {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 16px;
    outline: none;
}
.input:focus {
    outline: none;
}
.input:active {
    outline: none;
}
.cmd_status {
    position: relative;
    font-size: 14px;
    width: 300px;
    margin: 10px auto 0px auto;
    opacity: 0;
    transition: opacity 200ms;
    overflow: hidden;
}
.new_game_prompt {
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100;
    margin: auto auto;
    border-radius: 10px;
    background-color: #9cb7b9;
    height: 200px;
    text-align: center;
    line-height: 100px;
}