body {
    margin: 0;
    background-color: #535151;
    overflow: hidden;
}

body * {
    font-family: "Exo 2", arial !important;
}

canvas {
    margin-top: 10em;
}

.cmd_line {
    position: absolute;
    width: 500px;
    background-color: #a3a3a3;
    border-radius: 0px 0px 18px 18px;
    text-align: center;
}

.cmd_line,
.cmd_line_outer {
    transition: 400ms;
}

.cmd_status {
    position: relative;
    font-size: 14px;
    width: 300px;
    margin: 10px auto 0px auto;
    opacity: 0;
    transition: opacity 200ms;
    overflow: hidden;
}

.cmd_suggestion_box {
    position: absolute;
    width: 300px;
    background: #464647;
}

.cmd_suggestion_box ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.cmd_suggestion_box li {
    position: relative;
    display: flex;
    height: 52px;
    margin-bottom: 2px;
    background: #505053;
    color: white;
    top: 0;
    bottom: 0;
    text-align: center;
}

.input_standard {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 16px;
    outline: none;
}

.input_standard:focus {
    outline: none;
}

.input_standard:active {
    outline: none;
}

.new_game_prompt {
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100;
    margin: auto;
    border-radius: 15px;
    background-color: #9cb7b9;
    height: 200px;
    text-align: center;
    line-height: 100px;
}

.info_toast { /* inherit absolute center */
    position: absolute;
    display: flex;
    margin: 0 auto;
    width: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999999;
    color: #0f0f3a;
    border-radius: 12px 12px 0 0;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: 250ms;
}

.info_toast p {
    position: relative;
    margin: auto;
    padding-bottom: 5%;
    font-weight: bold
}

.overflow {
    overflow: hidden;
}

.flex {
    display: flex;
}

.absolute {
    position: absolute;
}

.center_absolute {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.margin {
    margin: auto;
}
.center_content {
    text-align: center;
}